<div class="col-md-12">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
      <label for="">Start Date​</label>
      <input [(ngModel)]="calendar.date" name="date" type="text" class="form-control" placeholder="Start Date​" required>
    </div>

    <div class="form-group col-md-6">
      <label for="">Number of days {{calendar.numberDays}}</label>
      <input [(ngModel)]="calendar.numberDays" name="numberDays" type="number" class="form-control" placeholder="Number of days" required>
    </div>

    <div class="form-group col-md-6">
      <label for="">Country Code</label>
      <select class="form-control" [(ngModel)]="calendar.countrySelected" name="countrySelected" required>
      	<option *ngFor="let country of countrys" value="{{country.code}}">{{country.code}} {{country.name}}</option>
      </select>	
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="col-md-12">
  <h1>Calendar</h1>
  <div class="col-md-3" *ngFor="let index of dateRangesKeys">
    
    <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>
          {{dateRangesComponent[index].month}}<br>
          <span style="font-size:18px">{{dateRangesComponent[index].year}}</span>
        </li>
      </ul>
    </div>

    <ul class="weekdays">
      <li>Su</li>
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
    </ul>

    <ul class="days" >  
      <li *ngFor="let dayData of dateRangesComponent[index].daysRange">
        <div *ngIf="dayData.show" [ngClass]="{
          'holiday': dayData.typeDay,
          'days': dayData.day != 'Saturday' && dayData.day != 'Sunday',
          'wekeend': dayData.day == 'Saturday' || dayData.day == 'Sunday'
        }">{{dayData.dayNumber}}</div>
      </li>
    </ul>


    <!-- <ul class="days">  
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li><span class="active">10</span></li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
      <li>30</li>
      <li>31</li>
    </ul> -->
  </div>
</div>

